

<form 
fxLayout="row" 
fxLayoutAlign="center center"
fxLayoutGap="10px"
#form="ngForm" 
autocomplete="off" 
(submit)="onSubmit(form)">
  <input type="hidden" name="id" [value]="service.formData.id">
  <!-- <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input 
      matInput
      name="date" 
      #date="ngModel" 
      [(ngModel)]="service.formData.date" 
      class="form-control" 
      placeholder="Date"
      required>
  </mat-form-field> -->

  <mat-form-field>
    <input 
      matInput 
      name="date"
      #date="ngModel"
      [(ngModel)]="service.formData.date"
      placeholder="Date" 
      [matDatepicker]="picker"
      required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>


  <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input 
      matInput
      name="name" 
      #name="ngModel" 
      [(ngModel)]="service.formData.name" 
      class="form-control" 
      placeholder="Name"
      required>
  </mat-form-field>

  <mat-form-field appearance="fill">
      <mat-label>Value</mat-label>
      <input 
      matInput
      name="value" 
      #value="ngModel" 
      [(ngModel)]="service.formData.value" 
      class="form-control" 
      placeholder="value"
      required>
  </mat-form-field>

  <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <input 
      matInput
      name="category" 
      #category="ngModel" 
      [(ngModel)]="service.formData.categoryId" 
      class="form-control" 
      placeholder="Category"
      required>
  </mat-form-field>

  <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <input 
      matInput
      name="type" 
      #type="ngModel" 
      [(ngModel)]="service.formData.type" 
      class="form-control" 
      placeholder="Type"
      required>
  </mat-form-field>

  <div class="form-group">
      <button class="btn-success btn-lg btn-block" type="submit">Submit</button>
  </div>

</form>
